  <!-- From Section Start -->
<md-card class="card">
  <h5 class="main-subsection-tiltle">{{title.shipFrom}}</h5>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label outputlabel" [ngClass]="{'label-error' : isErrOrginCountry}">  {{title.shipFromCountry}}</label>
    <div class="col-sm-9">
      <select class="form-control" id="fromCountry"  [(ngModel)]="model.fromCountry" [ngClass]="{'input-error' : isErrOrginCountry}" (change)="CountryChange('from')">
        <option value="0">Select</option>
          <option *ngFor="let c of country" [value]="c.countryCode">{{c.countryName}}</option>
      </select>
      <div *ngIf="isErrOrginCountry" class="error-msg">{{fromCountryErrorMsg}}</div>
  </div>
</div>
<div class="form-group row" *ngIf="isPostelAwareFromCountry == false" >
  <label class="col-sm-3 col-form-label outputlabel" [ngClass]="{'label-error' : isErrOrginCity}">  {{title.shipFromCity}} </label>
<div class="col-sm-9">
  <input type="text" id="fromCity"  class="form-control" [ngClass]="{'input-error' : isErrOrginCity}" [(ngModel)]="model.fromCity" (keyup)="cityChange('from')">
  <div *ngIf="isErrOrginCity" class="error-msg">{{fromCityErrorMsg}}</div>
</div>
  </div>
  <div class="form-group row" *ngIf="isPostelAwareFromCountry == true">
    <label class="col-sm-3 col-form-label outputlabel" [ngClass]="{'label-error' : isErrOrginZip}">{{title.shipFromZip}}</label>
  <div class="col-sm-9">
    <input type="text" id="fromZip"  class="form-control" [(ngModel)]="model.fromZip" (keyup)="postalChange('from')"  [ngClass]="{'input-error' : isErrOrginZip}">
    <div *ngIf="isErrOrginZip" class="error-msg">{{fromZipErrorMsg}}</div>
  </div>
    </div>
</md-card>
  <!-- From Section End -->
<hr>
<!-- To Section Start -->
<md-card class="card">
    <h5 class="main-subsection-tiltle">{{title.shipTo}}</h5>
<div class="form-group row">
  <label class="col-sm-3 col-form-label outputlabel" [ngClass]="{'label-error' : isErrtoCountry}">  {{title.shipToCountry}} </label>
  <div class="col-sm-9">
    <select class="form-control" id="toCountry" [(ngModel)]="model.toCountry" [ngClass]="{'input-error' : isErrtoCountry}" (change)="CountryChange('to')">
      <option value="0">Select</option>
      <option *ngFor="let c of country" [value]="c.countryCode">{{c.countryName}}</option>
    </select>
    <div *ngIf="isErrtoCountry" class="error-msg">{{toCountryErrorMsg}}</div>
</div>
</div>
<div class="form-group row" *ngIf="isPostelAwareToCountry == false">
<label class="col-sm-3 col-form-label outputlabel" [ngClass]="{'label-error' : isErrtoCity}">  {{title.shipToCity}}</label>
<div class="col-sm-9">
<input type="text" id="toCity"  class="form-control" [(ngModel)]="model.toCity" (keyup)="cityChange('to')" [ngClass]="{'input-error' : isErrtoCity}">
<div *ngIf="isErrtoCity" class="error-msg">{{toCityErrorMsg}}</div>
</div>
</div>
<div class="form-group row" *ngIf="isPostelAwareToCountry == true">
  <label class="col-sm-3 col-form-label outputlabel" [ngClass]="{'label-error' : isErrtoZip}">  {{title.shipToZip}}</label>
<div class="col-sm-9">
  <input type="text" id="toZip"  class="form-control" [(ngModel)]="model.toZip" [ngClass]="{'input-error' : isErrtoZip}" (keyup)="postalChange('to')">
  <div *ngIf="isErrtoZip" class="error-msg">{{toZipErrorMsg}}</div>
</div>
  </div>
</md-card>
<!-- To Section Start -->
<hr>
<hr>
<md-card class="card">
  <div class="form-group row">
    <div class="col-sm-12"><span class="float-right">
    <button md-raised-button color="primary" (click)="openDialog()">{{title.submit}}</button>
  </span>
  </div>
</div>
</md-card>
